<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>categoryServlet</servlet-name>
    <servlet-class>org.openintents.safecloud.server.CategoryServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>categoryServlet</servlet-name>
    <url-pattern>/oisafecloud/category</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>org.openintents.safecloud.server.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/oisafecloud/login</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>OISafeCloud.html</welcome-file>
  </welcome-file-list>
 
        <!-- 
    <security-constraint>
    <display-name>OI Safe Cloud</display-name>
        <web-resource-collection>
        	<web-resource-name>OISafeCloud</web-resource-name>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
         -->
     
</web-app>
